<h2>Troca de senha</h2>

<form action="" method="post">
   <input disabled type="email" value="{{username}}">
   <input type="hidden" name="email" value="{{username}}">
   <input type="password" name="senha" id="senha" placeholder="senha">
   <input type="submit" name="enviar" class="btn btn-primary">
</form>